blinker==1.8.2
boto==2.49.0
click==8.1.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
redis==5.0.8
Werkzeug==3.0.4
gevent==24.10.2
celery==5.4.0
pydantic==2.9.2
gunicorn==23.0.0
fastapi==0.115.4
fastapi[standard]==0.115.4
starlette==0.41.2
uvicorn==0.32.0